<b>Zip Code </b>
{{this._id}}
<p></p>
City: {{this.city}}, State: {{this.state}}, Population: {{this.pop}}
<p></p>

<a href="/city/{{this.city}}/state/{{this.state}}">
    Cick here for all Zip Codes for {{this.city}}, {{this.state}}
</a>

